In [1]:
import pandas as pd
df_dataco_00 = pd.read_excel("F:\Data Indra\Project\Project Busan\dataset\Supply Chain Dataset Repaired.xlsx", "DataCoSupplyChainDataset")
print(df_dataco_00)

            Type  Days for shipping (real)  Days for shipment (scheduled)  \
0          DEBIT                         3                              4
1       TRANSFER                         5                              4
2           CASH                         4                              4
3          DEBIT                         3                              4
4        PAYMENT                         2                              4
...          ...                       ...                            ...
180514      CASH                         4                              4
180515     DEBIT                         3                              2
180516  TRANSFER                         5                              4
180517   PAYMENT                         3                              4
180518   PAYMENT                         4                              4

        Benefit per order  Sales per customer   Delivery Status  \
0               91.250000          314.640015  Advance shipping
1             -249.089996          311.359985     Late delivery
2             -247.779999          309.720001  Shipping on time
3               22.860001          304.809998  Advance shipping
4              134.210007          298.250000  Advance shipping
...                   ...                 ...               ...
180514          40.000000          399.980011  Shipping on time
180515        -613.770019          395.980011     Late delivery
180516         141.110001          391.980011     Late delivery
180517         186.229996          387.980011  Advance shipping
180518         168.949997          383.980011  Shipping on time

        Late_delivery_risk  Category Id   Category Name Customer City  ...  \
0                        0           73  Sporting Goods        Caguas  ...
1                        1           73  Sporting Goods        Caguas  ...
2                        0           73  Sporting Goods      San Jose  ...
3                        0           73  Sporting Goods   Los Angeles  ...
4                        0           73  Sporting Goods        Caguas  ...
...                    ...          ...             ...           ...  ...
180514                   0           45         Fishing      Brooklyn  ...
180515                   1           45         Fishing   Bakersfield  ...
180516                   1           45         Fishing       Bristol  ...
180517                   0           45         Fishing        Caguas  ...
180518                   0           45         Fishing        Caguas  ...

       Order Zipcode Product Card Id Product Category Id  Product Description  \
0                NaN            1360                  73                  NaN
1                NaN            1360                  73                  NaN
2                NaN            1360                  73                  NaN
3                NaN            1360                  73                  NaN
4                NaN            1360                  73                  NaN
...              ...             ...                 ...                  ...
180514           NaN            1004                  45                  NaN
180515           NaN            1004                  45                  NaN
180516           NaN            1004                  45                  NaN
180517           NaN            1004                  45                  NaN
180518           NaN            1004                  45                  NaN

                                            Product Image  \
0             http://images.acmesports.sports/Smart+watch
1             http://images.acmesports.sports/Smart+watch
2             http://images.acmesports.sports/Smart+watch
3             http://images.acmesports.sports/Smart+watch
4             http://images.acmesports.sports/Smart+watch
...                                                   ...
180514  http://images.acmesports.sports/Field+%26+Stre...
180515  http://images.acmesports.sports/Field+%26+Stre...
180516  http://images.acmesports.sports/Field+%26+Stre...
180517  http://images.acmesports.sports/Field+%26+Stre...
180518  http://images.acmesports.sports/Field+%26+Stre...

                                     Product Name Product Price  \
0                                     Smart watch    327.750000
1                                     Smart watch    327.750000
2                                     Smart watch    327.750000
3                                     Smart watch    327.750000
4                                     Smart watch    327.750000
...                                           ...           ...
180514  Field & Stream Sportsman 16 Gun Fire Safe    399.980011
180515  Field & Stream Sportsman 16 Gun Fire Safe    399.980011
180516  Field & Stream Sportsman 16 Gun Fire Safe    399.980011
180517  Field & Stream Sportsman 16 Gun Fire Safe    399.980011
180518  Field & Stream Sportsman 16 Gun Fire Safe    399.980011

       Product Status shipping date (DateOrders)   Shipping Mode
0                   0        2018-02-03 22:56:00  Standard Class
1                   0        2018-01-18 12:27:00  Standard Class
2                   0        2018-01-17 12:06:00  Standard Class
3                   0        2018-01-16 11:45:00  Standard Class
4                   0        2018-01-15 11:24:00  Standard Class
...               ...                        ...             ...
180514              0        2016-01-20 03:40:00  Standard Class
180515              0        2016-01-19 01:34:00    Second Class
180516              0        2016-01-20 21:00:00  Standard Class
180517              0        2016-01-18 20:18:00  Standard Class
180518              0        2016-01-19 18:54:00  Standard Class

[180519 rows x 53 columns]

In [2]:
#Show the columns list from the dataset
print(list(df_dataco_00.columns))

['Type', 'Days for shipping (real)', 'Days for shipment (scheduled)', 'Benefit per order', 'Sales per customer', 'Delivery Status', 'Late_delivery_risk', 'Category Id', 'Category Name', 'Customer City', 'Customer Country', 'Customer Email', 'Customer Fname', 'Customer Id', 'Customer Lname', 'Customer Password', 'Customer Segment', 'Customer State', 'Customer Street', 'Customer Zipcode', 'Department Id', 'Department Name', 'Latitude', 'Longitude', 'Market', 'Order City', 'Order Country', 'Order Customer Id', 'order date (DateOrders)', 'Order Id', 'Order Item Cardprod Id', 'Order Item Discount', 'Order Item Discount Rate', 'Order Item Id', 'Order Item Product Price', 'Order Item Profit Ratio', 'Order Item Quantity', 'Sales', 'Order Item Total', 'Order Profit Per Order', 'Order Region', 'Order State', 'Order Status', 'Order Zipcode', 'Product Card Id', 'Product Category Id', 'Product Description', 'Product Image', 'Product Name', 'Product Price', 'Product Status', 'shipping date (DateOrders)', 'Shipping Mode']

**Create necessary table to fulfilled the objectives**

In [3]:
#By using df[] Notation to select multiple columns

df_dataco_used = df_dataco_00[['Customer Id', 'Order Id', 'order date (DateOrders)', 'Category Name', 'Product Name',
                               'Order Item Quantity', 'Sales per customer', 'Order Region', 'shipping date (DateOrders)',
                               'Days for shipment (scheduled)', 'Days for shipping (real)', 'Delivery Status','Shipping Mode']]
print(df_dataco_used)

        Customer Id  Order Id order date (DateOrders)   Category Name  \
0             20755     77202     2018-01-31 22:56:00  Sporting Goods
1             19492     75939     2018-01-13 12:27:00  Sporting Goods
2             19491     75938     2018-01-13 12:06:00  Sporting Goods
3             19490     75937     2018-01-13 11:45:00  Sporting Goods
4             19489     75936     2018-01-13 11:24:00  Sporting Goods
...             ...       ...                     ...             ...
180514         1005     26043     2016-01-16 03:40:00         Fishing
180515         9141     26037     2016-01-16 01:34:00         Fishing
180516          291     26024     2016-01-15 21:00:00         Fishing
180517         2813     26022     2016-01-15 20:18:00         Fishing
180518         7547     26018     2016-01-15 18:54:00         Fishing

                                     Product Name  Order Item Quantity  \
0                                     Smart watch                    1
1                                     Smart watch                    1
2                                     Smart watch                    1
3                                     Smart watch                    1
4                                     Smart watch                    1
...                                           ...                  ...
180514  Field & Stream Sportsman 16 Gun Fire Safe                    1
180515  Field & Stream Sportsman 16 Gun Fire Safe                    1
180516  Field & Stream Sportsman 16 Gun Fire Safe                    1
180517  Field & Stream Sportsman 16 Gun Fire Safe                    1
180518  Field & Stream Sportsman 16 Gun Fire Safe                    1

        Sales per customer    Order Region shipping date (DateOrders)  \
0               314.640015  Southeast Asia        2018-02-03 22:56:00
1               311.359985      South Asia        2018-01-18 12:27:00
2               309.720001      South Asia        2018-01-17 12:06:00
3               304.809998         Oceania        2018-01-16 11:45:00
4               298.250000         Oceania        2018-01-15 11:24:00
...                    ...             ...                        ...
180514          399.980011    Eastern Asia        2016-01-20 03:40:00
180515          395.980011    Eastern Asia        2016-01-19 01:34:00
180516          391.980011         Oceania        2016-01-20 21:00:00
180517          387.980011         Oceania        2016-01-18 20:18:00
180518          383.980011      South Asia        2016-01-19 18:54:00

        Days for shipment (scheduled)  Days for shipping (real)  \
0                                   4                         3
1                                   4                         5
2                                   4                         4
3                                   4                         3
4                                   4                         2
...                               ...                       ...
180514                              4                         4
180515                              2                         3
180516                              4                         5
180517                              4                         3
180518                              4                         4

         Delivery Status   Shipping Mode
0       Advance shipping  Standard Class
1          Late delivery  Standard Class
2       Shipping on time  Standard Class
3       Advance shipping  Standard Class
4       Advance shipping  Standard Class
...                  ...             ...
180514  Shipping on time  Standard Class
180515     Late delivery    Second Class
180516     Late delivery  Standard Class
180517  Advance shipping  Standard Class
180518  Shipping on time  Standard Class

[180519 rows x 13 columns]

In [4]:
#1 Checking missing value
df_dataco_used.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180519 entries, 0 to 180518
Data columns (total 13 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   Customer Id                    180519 non-null  int64
 1   Order Id                       180519 non-null  int64
 2   order date (DateOrders)        180519 non-null  datetime64[ns]
 3   Category Name                  180519 non-null  object
 4   Product Name                   180519 non-null  object
 5   Order Item Quantity            180519 non-null  int64
 6   Sales per customer             180519 non-null  float64
 7   Order Region                   180519 non-null  object
 8   shipping date (DateOrders)     180519 non-null  datetime64[ns]
 9   Days for shipment (scheduled)  180519 non-null  int64
 10  Days for shipping (real)       180519 non-null  int64
 11  Delivery Status                180519 non-null  object
 12  Shipping Mode                  180519 non-null  object
dtypes: datetime64[ns](2), float64(1), int64(5), object(5)
memory usage: 17.9+ MB

from the data information above, the number of non-null values is the same as the amount of data, so that there are no missing values in the dataset.

In [5]:
#2. Checking duplicated datas
print(df_dataco_used.duplicated().sum())

#Totalize duplicated datas in the dataset, split it from Non-duplicated
duplicated_data = df_dataco_used.duplicated().sum()[df_dataco_used.duplicated().sum() > 0]

#create dataframe duplicated_count & duplicated_percentage
duplicated_df_dataco_used = pd.DataFrame({'duplicated_count': duplicated_data, 'duplicated_percentage': duplicated_data/ len(df_dataco_used)})
duplicated_df_dataco_used

0

Empty DataFrame
Columns: [duplicated_count, duplicated_percentage]
Index: []

from the dataframe above, there are null duplicated data, so that there are no duplicated data.

In [ ]:
#3 Checking inconsistent
#from the result df_dataco_used.info() the data types already in proper types not needed to fix it.

In [6]:
df_dataco_used.to_excel('DataCoDatasetUsed.xlsx', sheet_name='Sheet1', index=False)

In [7]:
df_dataset_used = pd.read_excel("F:\Data Indra\Project\Project Busan\dataset\DataCoDatasetUsed.xlsx")
print(df_dataset_used)

        Customer Id  Order Id order date (DateOrders)   Category Name  \
0             20755     77202     2018-01-31 22:56:00  Sporting Goods
1             19492     75939     2018-01-13 12:27:00  Sporting Goods
2             19491     75938     2018-01-13 12:06:00  Sporting Goods
3             19490     75937     2018-01-13 11:45:00  Sporting Goods
4             19489     75936     2018-01-13 11:24:00  Sporting Goods
...             ...       ...                     ...             ...
180514         1005     26043     2016-01-16 03:40:00         Fishing
180515         9141     26037     2016-01-16 01:34:00         Fishing
180516          291     26024     2016-01-15 21:00:00         Fishing
180517         2813     26022     2016-01-15 20:18:00         Fishing
180518         7547     26018     2016-01-15 18:54:00         Fishing

                                     Product Name  Order Item Quantity  \
0                                     Smart watch                    1
1                                     Smart watch                    1
2                                     Smart watch                    1
3                                     Smart watch                    1
4                                     Smart watch                    1
...                                           ...                  ...
180514  Field & Stream Sportsman 16 Gun Fire Safe                    1
180515  Field & Stream Sportsman 16 Gun Fire Safe                    1
180516  Field & Stream Sportsman 16 Gun Fire Safe                    1
180517  Field & Stream Sportsman 16 Gun Fire Safe                    1
180518  Field & Stream Sportsman 16 Gun Fire Safe                    1

        Sales per customer    Order Region shipping date (DateOrders)  \
0               314.640015  Southeast Asia        2018-02-03 22:56:00
1               311.359985      South Asia        2018-01-18 12:27:00
2               309.720001      South Asia        2018-01-17 12:06:00
3               304.809998         Oceania        2018-01-16 11:45:00
4               298.250000         Oceania        2018-01-15 11:24:00
...                    ...             ...                        ...
180514          399.980011    Eastern Asia        2016-01-20 03:40:00
180515          395.980011    Eastern Asia        2016-01-19 01:34:00
180516          391.980011         Oceania        2016-01-20 21:00:00
180517          387.980011         Oceania        2016-01-18 20:18:00
180518          383.980011      South Asia        2016-01-19 18:54:00

        Days for shipment (scheduled)  Days for shipping (real)  \
0                                   4                         3
1                                   4                         5
2                                   4                         4
3                                   4                         3
4                                   4                         2
...                               ...                       ...
180514                              4                         4
180515                              2                         3
180516                              4                         5
180517                              4                         3
180518                              4                         4

         Delivery Status   Shipping Mode
0       Advance shipping  Standard Class
1          Late delivery  Standard Class
2       Shipping on time  Standard Class
3       Advance shipping  Standard Class
4       Advance shipping  Standard Class
...                  ...             ...
180514  Shipping on time  Standard Class
180515     Late delivery    Second Class
180516     Late delivery  Standard Class
180517  Advance shipping  Standard Class
180518  Shipping on time  Standard Class

[180519 rows x 13 columns]

In [8]:
df_dataset_used.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180519 entries, 0 to 180518
Data columns (total 13 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   Customer Id                    180519 non-null  int64
 1   Order Id                       180519 non-null  int64
 2   order date (DateOrders)        180519 non-null  datetime64[ns]
 3   Category Name                  180519 non-null  object
 4   Product Name                   180519 non-null  object
 5   Order Item Quantity            180519 non-null  int64
 6   Sales per customer             180519 non-null  float64
 7   Order Region                   180519 non-null  object
 8   shipping date (DateOrders)     180519 non-null  datetime64[ns]
 9   Days for shipment (scheduled)  180519 non-null  int64
 10  Days for shipping (real)       180519 non-null  int64
 11  Delivery Status                180519 non-null  object
 12  Shipping Mode                  180519 non-null  object
dtypes: datetime64[ns](2), float64(1), int64(5), object(5)
memory usage: 17.9+ MB

In [9]:
#2. Checking duplicated datas
print(df_dataset_used.duplicated().sum())

#Totalize duplicated datas in the dataset, split it from Non-duplicated
duplicated_data2 = df_dataset_used.duplicated().sum()[df_dataset_used.duplicated().sum() > 0]

#create dataframe duplicated_count & duplicated_percentage
duplicated_df_dataset_used = pd.DataFrame({'duplicated_count': duplicated_data2, 'duplicated_percentage': duplicated_data2/ len(df_dataset_used)})
duplicated_df_dataset_used

0

Empty DataFrame
Columns: [duplicated_count, duplicated_percentage]
Index: []